<div class="container">
    #if(${sec.adminRole})
        <button class="btn btn-sm btn-success" type="button" onclick="add()">发布 Topic</button>
    #end
</div>


<p>&nbsp;</p>
<div class="container theme-showcase">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Topic</th>
            <th>operations</th>
        </tr>
        </thead>
        <tbody>
            #foreach($tr in $!table.tbodyData)
            <tr>
                #foreach($topicName in $tr)

                    <td>
                        <label class="topic_name" data-placement="right" title="点击我有惊喜哦！！！">$topicName</label>
                    </td>

                    <td>
                        <button class="btn btn-sm btn-info" type="button" onclick="stat('$topicName')">状态</button>
                        &nbsp;&nbsp;
                        <button class="btn btn-sm btn-info" type="button" onclick="route('$topicName')">路由
                        </button>
                        &nbsp;&nbsp;

                        #if(${sec.adminRole})
                            <button class="btn btn-sm btn-info" type="button" onclick="upd('$topicName')">更新
                            </button>
                            &nbsp;&nbsp;
                            <button class="btn btn-sm btn-danger" type="button" onclick="del('$topicName')">删除
                            </button>
                            &nbsp;&nbsp;
                        #end
                        <button class="btn btn-sm btn-info" type="button" onclick="getAllConsumer('$topicName')">
                            查看所有Consumer
                        </button>
                    </td>

                #end
            </tr>
            #end
        </tbody>
    </table>
    #if(${sec.adminRole})
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Topic</th>
                <th>Mean</th>
            </tr>
            </thead>
            #foreach($tr in $!table.extData.entrySet())
                <tr>
                    #if($tr.key.startsWith("%RETRY%"))
                        <td> $tr.key</td>
                        <td style="color: green"><label data-toggle="tooltip" data-placement="right"
                                                        title="为每个Consumer Group建立一个默认的Topic，前缀 + GroupName，用来保存处理失败需要重试的消息">用于失败重试机制</label>

                        </td>
                    #elseif($tr.key.startsWith("%DLQ%"))
                        <td> $tr.key</td>
                        <td style="color: green"><label data-toggle="tooltip" data-placement="right"
                                                        title="为每个Consumer Group建立一个默认的Topic，前缀 + GroupName，用来保存重试多次都失败，接下来不再重试的消息">死信队列</label>

                        </td>
                    #else
                        <td>$tr.key</td>
                        <td>I DON'T KONW</td>
                    #end
                </tr>
            #end

            <tbody>
            </tbody>
        </table>
    #end
</div>

<div class="modal fade" id="consumerList" tabindex="-1" role="dialog" aria-labelledby="consumerLabel"
     aria-hidden="false" style="width: 600px;height: 200px;padding-left: 15px;">
</div>

<div class="modal fade" id="topicDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     style="width: 600px;height: 380px;padding-left: 15px;">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Topic 的作用</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="recipient-name" class="control-label">名称：</label>
                <label style="color: green" id="topic_name"></label>
            </div>
            <div class="form-group">
                <label for="message-text" class="control-label">备注：</label>
                <textarea id="detail" class="form-control" id="message-text"
                          style="width:535px; height: 130px; resize: none;"></textarea>
            </div>

        </form>
        <button class="btn btn-primary" onclick="addTopicDetail()">更新</button>
    </div>


</div>

<script src="$root/easyui/jquery.min.js"></script>

<script language="javascript">


    var topic;
    var detail;

    // jquery 类库一旦加载成功，这里方法将执行监听
    jQuery(".topic_name").on("click", function () {
        topic = $(this).html();

        getTopicDetail();
        $("#topic_name").html(topic);
        $('#topicDetail').modal('show');

    });

    // 异步获取 Topic 的详细信息
    function getTopicDetail() {
        $.ajax({
            type: 'POST',
            url: "$root/fetch_ajax/get_topic_detail.do",
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            data: {
                'topic': topic
            },
            success: function (response, status, xhr) {
                console.info(response);
                $("#detail").val(response);
                detail = response;

            },
            error: function (response, status, xhr) {
                console.info(response);
                alert("查询数据出错！！！" + status);
            }
        });
    }


    function addTopicDetail() {
        $.ajax({
            type: 'POST',
            url: "$root/fetch_ajax/add_topic_detail.do",
            data: {
                'topic': topic,
                'detail': $("#detail").val()
            },
            success: function (response, status, xhr) {
                $('#topicDetail').modal('hide');
            },
            error: function (response, status, xhr) {

                alert("查询数据出错！！！");
            }
        });
    }


    function add() {
        window.location.href = "add.do";
    }

    function stat(topicName) {
        var temp = decodeURI(topicName);
        window.location.href = "stats.do?topic=" + temp;
    }

    function route(topicName) {
        var temp = decodeURI(topicName);
        window.location.href = "route.do?topic=" + temp;
    }

    function del(topicName) {
        var temp = decodeURI(topicName);
        window.location.href = "delete.do?topic=" + temp;
    }

    function upd(topicName) {
        var temp = decodeURI(topicName);
        window.location.href = "update.do?topic=" + temp;
    }

    function getAllConsumer(topicName) {
        $('#consumerList').text(""); // 先把内容清空

        $.ajax({
            type: 'POST',
            url: "$root/fetch_ajax/fetch_all_consumer_topic.do",
            dataType: 'json', //这里的 datatype 的key-value 一定要的。不要将会出现乱码以及 图表无法绘制
            timeout: 5000, // 设置超时的时间
            data: {
                'topic': topicName
            },
            success: function (response, status, xhr) {

                if (response == null) {
                    alert("没有更多的信息");
                    return false;
                }
                else {
                    $('#consumerList').append("<label style='color: green'>下面是该 Topic 的所有消费者，点击将查看详情</label>");
                    $.each(response, function (i, n) {
                        // target='_blank' 表示在新窗口打开页面，默认是在本窗口
                        $('#consumerList').append("<a target='_blank' href='$root/connection/consumerConnection.do?consumerGroup=" + n + "'>" + n + "</a>" + "<br/>");
                    });
                    $('#consumerList').modal('show');
                }


            },
            error: function (response, status, xhr) {
                console.info(status);
                alert("查询数据出错！！！");
            }

        });

    }
</script>
