<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/query.min.js"></script>-->
<script src="$root/js/jquery-1.10.2.min.js"></script>
<script src="$root/js/bootstrap.min.js"></script>
<script src="$root/js/docs.min.js"></script>
<script src="$root/js/bootstrap-modal.js"></script>
<script src="$root/js/bootstrap-transition.js"></script>
<script src="$root/easyui/jquery.easyui.min.js"></script>
<script src="$root/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="$root/echart/echarts.js"></script>
<script src="$root/echart/echarts-all.js"></script>


