<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">RocketMQ Console</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li #if($cluster_flag)class="$cluster_flag"#end><a href="$root/cluster/list.do">Cluster</a></li>
                <li #if($topic_flag)class="$topic_flag"#end><a href="$root/topic/list.do">Topic</a></li>
                <li class="dropdown $!connection_flag">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connection<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="$root/connection/consumerConnection.do">ConsumerConnection</a></li>
                        <li><a href="$root/connection/producerConnection.do">ProducerConnection</a></li>
                    </ul>
                </li>
                <li class="dropdown $!namesrv_flag">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nameserv<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="$root/namesrv/getProjectGroup.do">GetProjectGroup</a></li>
                        #if(${sec.adminRole})
                            <li><a href="$root/namesrv/updateKvConfig.do">UpdateKvConfig</a></li>
                            <li><a href="$root/namesrv/deleteKvConfig.do">DeleteKvConfig</a></li>
                            <li><a href="$root/namesrv/updateProjectGroup.do">UpdateProjectGroup</a></li>
                            <li><a href="$root/namesrv/deleteProjectGroup.do">DeleteProjectGroup</a></li>
                            <li><a href="$root/namesrv/wipeWritePerm.do">WipeWritePerm</a></li>
                        #end
                    </ul>
                </li>

                <li class="dropdown $!message_flag">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Message<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="$root/message/queryMsgById.do">QueryMsgById</a></li>
                        <li><a href="$root/message/queryMsgByKey.do">QueryMsgByKey</a></li>
                        <li><a href="$root/message/queryMsgByOffset.do">QueryMsgByOffset</a></li>
                    </ul>
                </li>
                <li class="dropdown $!broker_flag">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Broker <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="$root/broker/brokerStats.do">BrokerStats</a></li>
                        #if(${sec.adminRole})
                            <li><a href="$root/broker/updateBrokerConfig.do">UpdateBrokerConfig</a></li>
                        #end
                    </ul>
                </li>

                #if(${sec.adminRole})
                    <li class="dropdown $!offset_flag">
                        <a href="$root/offset/resetOffsetByTime.do">Offset</a>
                    </li>
                #end


                <li class="dropdown $!consumer_flag">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consumer <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="$root/consumer/consumerProgress.do">ConsumerProgress</a></li>

                        #if(${sec.adminRole})
                            <li><a href="$root/consumer/deleteSubGroup.do">DeleteSubGroup</a></li>
                            <li><a href="$root/consumer/updateSubGroup.do">UpdateSubGroup</a></li>
                        #end

                        <li><a href="$root/consumer/consumerGrouupList.do">ConsumerGrouupList</a></li>

                    </ul>
                </li>


                <li class="dropdown $!TPS">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">资源监控 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="$root/tps/consumerGrouupTps.do">消费者TPS</a></li>
                        <li><a href="$root/tps/producerTps.do">生产者TPS</a></li>
                    </ul>
                </li>

                <li class="dropdown $!role">
                    #if(${sec.adminRole}) #*管理员*#
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理员 <b class="caret"></b></a>
                    #end

                    #if(${sec.adminRole}==false) #* 游客 *#
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">游客 <b class="caret"></b></a>
                    #end

                    <ul class="dropdown-menu">
                        <div id="top_loginfo">
                            #set ($logoutUrl="$root/j_spring_security_logout")
                            <form action="$logoutUrl" method="post" id="logoutForm">
                                <input type="hidden" name="$_csrf.parameterName"
                                       value="$_csrf.token"/>
                            </form>
                            &nbsp;&nbsp;欢迎您 : ${sec.principal} &nbsp;&nbsp;&nbsp;<a href="javascript:formSubmit()">
                            退出</a>
                        </div>
                    #*<div>&nbsp;&nbsp;<a href="http://10.1.7.13:8081/screen/972?legend=on">53 机器运维 </a></div>*#

                    </ul>
                </li>


            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>


<script>
    function formSubmit() {
        document.getElementById("logoutForm").submit();
    }

</script>